<p>Sort products by:</p>
<ul>
  <li><%= link_to "Name A-Z", sort: "name ASC" %></li>
  <li><%= link_to "Name Z-A", sort: "name DESC" %></li>
  <li><%= link_to "Price Low-High", sort: "price ASC" %></li>
  <li><%= link_to "Price High-Low", sort: "price DESC" %></li>
</ul>
