<div class="banner">
  <div class="banner-text">
    <div class="layer">
    </div>
  </div>
</div>
<div class="container departments">
  <h1> Our Departments </h1>
  <div class="row">
    <% @departments.each do |department| %>
      <div class="col-md-4">
        <h2><%= link_to department.name, department_path(department) %></h2>
        <p><%= department.description %></p>
        <button type="button" class="btn btn-warning">
          <%= link_to "View Assortment", department_path(department) %>
        </button>
      </div>
    <% end %>
  </div>
  <%= link_to "[Add Department]", new_department_path %>
</div>
