<article class="departments">

  <h1>Our Departments</h1>

  <ul>
    <% @departments.each do |department| %>
    <li>
      <% if !(department.image_url.nil?) %>
      <%= link_to (image_tag department.image_url), department_path(department) %>
      <% end %>
      <div class="">
        <h2><%= department.name %></h2>
        <p><%= department.description %></p>
      </div>
    </li>
    <% end %>
  </ul>

</article>
