<h3> Thank your for shopping with 't Tulpje! </h3>

## make an order display page listing.
## Customer info
## order reference number & date
##a table listing the contents of the order:
## product_id, product name, quantity, unit price
## total price
