/*********************************************
					NAVBAR
*********************************************/
.navbar-default {
  background-color: #D0E37F;
  border-color: #D4E58A;
}

.navbar-brand {
  font-family: 'Alegreya', serif;
  font-size: 25px;
  font-weight: 700;
}

.navbar-default .navbar-brand {
  color: #fff;
}

.navbar-default .navbar-brand:hover {
  color: #fff;
}

.navbar-default .navbar-nav > li > a {
  color: #fff;
}

.btn-warning {
  background: #D1603D;
  border: none;
  transition-property: background;
  transition-duration: 1s;
}

.btn-warning:hover {
  background: #BE5838;
  border: none;
}

.btn-warning a {
  color: #fff;
  text-decoration: none;
}

.btn-warning a:hover {
  color: #fff;
}

.custom-bullet {
    display: block;
}

.custom-bullet:before {
    /*Using a Bootstrap glyphicon as the bullet point*/
    content: "\e116";
    font-family: 'Glyphicons Halflings';
    font-size: 16px;
    float: left;
    margin-top: 12px;
    margin-left: -8px;
    color: #fff;
}

/*********************************************
					DEPARTMENT INDEX
*********************************************/

.banner {
  display: flex;
  justify-content: center;
  margin-top: -74px;
  background-image: url("http://res.cloudinary.com/dyl4vtost/image/upload/v1485382413/p8zdqz8y2vc-roman-kraft_fh5ata.jpg");
  background-size: cover;
  background-position-y: 50%;
  width: 100%;
  height: 300px;
}

.banner-text {
  align-self: center;
}

.departments {
  margin-top: 21px;
}

.col-md-4.departments {
  margin-bottom: 20px;
  height: 150px;
}

.col-md-4.departments p {
  margin: 0;
}

.banner-department {
  display: flex;
  justify-content: center;
  margin-top: -74px;
  background-color: #221D23;
  width: 100%;
  height: 200px;
}

.layer h1 {
  color: #fff;
  text-align: center;
}

.layer p {
  color: #fff;
}

button.btn.btn-warning.department {
  margin-top: 10px;
}

/*********************************************
					PRODUCTS
*********************************************/


.product{
	border: 1px solid #dddddd;
	height: 321px;
}

.product>img{
	max-width: 230px;
}

.product-rating{
	font-size: 20px;
	margin-bottom: 25px;
}

.product-title{
	font-size: 20px;
}

.product-desc{
	font-size: 14px;
}

.product-price{
	font-size: 22px;
}

.product-stock{
	color: #a94442;
	font-size: 20px;
	margin-top: 10px;
}

.product-info{
		margin-top: 50px;
}

.stock {
  color: #a94442;
}

.col-md-4.products {
  margin-bottom: 20px;
  padding: 20px;
  text-align: center;
  height: 275px;
}

.col-md-4.products p {
  margin: 0;
}

.product-img {
  max-height: 100px;
}

.admin {
  color: #fff;
}

.admin:hover {
  color: #fff;
  text-decoration: none;
}

/*********************************************
					VIEW
*********************************************/

.content-wrapper {
	max-width: 1140px;
	background: #fff;
	margin: 0 auto;
	margin-top: 25px;
	margin-bottom: 10px;
	border: 0px;
	border-radius: 0px;
}

.container-fluid{
	max-width: 1140px;
	margin: 0 auto;
  margin-top: -74px;
}

.view-wrapper {
	float: right;
	max-width: 70%;
	margin-top: 25px;
}

.container {
	padding-left: 0px;
	padding-right: 0px;
	max-width: 100%;
}

.product-image {
  display: block;
  margin: auto;
  width: 100%;
}

/*********************************************
				BUTTONS
*********************************************/

.btn.btn-success a {
  color: white;
  text-decoration: none;
}
