/*********************************************
					NAVBAR
*********************************************/
.navbar-default {
  background-color: #D0E37F;
  border-color: #D4E58A;
}

.navbar-brand {
  font-family: 'Alegreya', serif;
  font-size: 25px;
}

.navbar-default .navbar-brand {
  color: #fff;
}

.navbar-default .navbar-brand:hover {
  color: #fff;
}

.navbar-default .navbar-nav > li > a {
  color: #fff;
}

.btn-warning {
  background: #E3C582;
  border: none;
  transition-property: background;
  transition-duration: 1s;
}

.btn-warning:hover {
  background: #CFB477;
  border: none;
}

.btn-warning a {
  color: #999;
  text-decoration: none;
}

.btn-warning a:hover {
  color: #777;
}

/*********************************************
					PRODUCTS
*********************************************/

.product{
	border: 1px solid #dddddd;
	height: 321px;
}

.product>img{
	max-width: 230px;
}

.product-rating{
	font-size: 20px;
	margin-bottom: 25px;
}

.product-title{
	font-size: 20px;
}

.product-desc{
	font-size: 14px;
}

.product-price{
	font-size: 22px;
}

.product-stock{
	color: #74DF00;
	font-size: 20px;
	margin-top: 10px;
}

.product-info{
		margin-top: 50px;
}

/*********************************************
					VIEW
*********************************************/

.content-wrapper {
	max-width: 1140px;
	background: #fff;
	margin: 0 auto;
	margin-top: 25px;
	margin-bottom: 10px;
	border: 0px;
	border-radius: 0px;
}

.container-fluid{
	max-width: 1140px;
	margin: 0 auto;
}

.view-wrapper {
	float: right;
	max-width: 70%;
	margin-top: 25px;
}

.container {
	padding-left: 0px;
	padding-right: 0px;
	max-width: 100%;
}

.product-image {
  display: block;
  margin: auto;
  width: 100%;
}

/*********************************************
				BUTTONS
*********************************************/

.btn.btn-success a {
  color: white;
  text-decoration: none;
}
